<div>
    <h1> carga de archivos </h1>
    
    <form action="/api/upload/products" method="post" enctype="multipart/form-data">
        <input type="file" name="productImages" multiple>
        <button type="submit"> subir imagenes de producto</button>
    </form>

    <form action="/api/upload/profiles" method="post" enctype="multipart/form-data">
        <input type="file" name="productImages" multiple>
        <button type="submit"> subir imagenes de perfil</button>
    </form>

    <form action="/api/upload/documents" method="post" enctype="multipart/form-data">
        <input type="file" name="productImages" multiple>
        <button type="submit"> subir imagenes de documentos</button>
    </form>

</div>